server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    org.springframework.security: INFO
  pattern:
    console: '%d{dd-MM-yyyy HH:mm:ss} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n'

spring:
  main:
    banner-mode: off
  datasource:
    url: jdbc:postgresql://${POSTGRES_ADDRESS:localhost:5432}/ikarita
    username: ikarita
    password: ikarita
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://${ISSUER_URI_ADDRESS:localhost:8089}/auth/realms/ikarita
          jwk-set-uri: http://${ISSUER_URI_ADDRESS:localhost:8089}/realms/springboot-realm/protocol/openid-connect/certs}
          audience: ${KEYCLOAK_AUDIENCE:ikarita}


springdoc:
  swagger-ui:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized